
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2  id="abt-txt-title" class="txt-title">2019 ng-SriLanka Conference</h2>
      <h3 class="cmb-title">Colombo</h3>
    </div>   
  </div>

  <div class="row">
    <div class="col-md-12 mrg-top">
      <h6 class="txt-title">ng-SriLanka is the cardinal event organized by the Angular community of SriLanka.</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mrg-top">
      <h5><p class="txt-title">You Can Sit With Us</p></h5>
      <h5><p class="sub-txt-title">JUNE 29, 2019</p></h5>
    </div>
  </div>
</div>

<div class="container">
    <div class="row detail-sec-mrg">
      <div class="col-sm">
          <h5>SINGLE DAY</h5>
          <p>1 Hrs of in-depth 
              learning in Angular
              and JavaScript</p>
      </div>
      <div class="col-sm">
          <h5>16 TALKS</h5>
          <p>Codebased talks and 
              hands-on sessions on 
              angular andJ avaScript</p>
          
      </div>
      <div class="col-sm">
          <h5>16 SPEAKERS</h5>
          <p>Internationally recognized 
              speakers and Local 
              Industry Experts share 
              their expertise</p>
          
      </div>
      <div class="col-sm">
          <h5>800+ DELEGATES</h5>
          <p>Industry Experts, 
              Enthusiastic Developers, 
              Project Managers and 
              Product Makers networking 
              andl earning together</p>

      </div>
    </div>
  </div>
