<header id="header">
  <div class="container">


    <div id="logo">
      <a href="#" class="scrollto">
        <img src="assets/images/logo.png" alt="" title="">
      </a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#about-event">About</a></li>
        <li><a href="#speaker">Speakers</a></li>
        <li><a href="#event-sponsors">Sponsors</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="buy-tickets"><a href="#tickets">Tickets</a></li>
      </ul>
    </nav>

  </div>
</header>