<section id="landing-page">

  <app-header-component></app-header-component>

  <div id="main-section">
    <section id="intro">
      <div class="intro-container wow fadeIn">
        <!-- <img src="/assets/images/logo.png" alt="" srcset=""> -->
        <h1 class="mb-4 pb-0">
          <span class="ng-text">NG</span>SriLanka 2019</h1>
        <p class="mb-4 pb-0">Sri Lanka's first ever Angular Conference</p>

      </div>
    </section>

    <app-social-icons-component></app-social-icons-component>

    <app-mailchimp-form></app-mailchimp-form>
  </div>

  

</section>

<div id="main-section">
  <app-about></app-about>
</div>

<div id="main-section">
    <app-speakers></app-speakers>
</div>

<div id="main-section">
  <app-sponsors></app-sponsors>
</div>

<div id="main-section">
    <app-venue></app-venue>
</div>

<div id="main-section">
    <app-tickets></app-tickets>
</div>

<div id="main-section">
    <app-footer></app-footer>
</div>
  



